<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Kunal Patil</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for item in site.data.navigation %}
          <li><a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>{{ item.name }}</a></li>
        {% endfor %}
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/kunupat" target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/kunal-patil-89769715/" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</nav>