.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

#jumbotron{
  text-align: center;
  background-image: url("/assets/images/jumbotron-bg.jpg");
  background-size: cover;
  color: white;
  border-radius:0%;
  margin-bottom: 0.5em;
  padding:0.8em 0.8em;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github-square {
  font-size: 3em;
  color: black;
}

.fa-linkedin {
  font-size: 3em;
  color: #007bb5;
}

.fa-twitter-square {
  font-size: 3em;
  color: #38A1F3;
}

#learn-more-btn{
  margin-top: 0.5em;
}

a{
  text-decoration: none;
}