---
layout: default
---
<div class="panel panel-default">
        <div class="panel-heading">
                <h2>About</h2>
        </div>
        <div class="panel-body bg-light">
                {{ content }}

                <div class="row no-gutters" >
                        <div class="col-sm">
                                <h6>Start Reading</h6>
                                <a href="/blog.html" class="btn btn-success">View Blog</a>
                        </div>
                        <div class="col-sm">
                                <h6>Stay Connected</h6>
                                <a href="https://www.linkedin.com/in/kunal-patil-89769715/" target="_blank" class="fab fa-linkedin" rel="noopener"></a>
                                <a href="https://github.com/kunupat" target="_blank" class="fab fa-github-square" rel="noopener"></a>
                                <a href="https://twitter.com/kunupat" target="_blank" class="fab fa-twitter-square" rel="noopener"></a>
                        </div>
                        <div class="col-sm">
                                <h6>Contact Me</h6>
                                <h6><a href="mailto:kunal.m.patil@gmail.com">kunal.m.patil@gmail.com</a></h6>
                        </div>
                </div>
        </div>
</div>