---
layout: default
---
<div class="panel panel-default">
        <div class="panel-heading">
                <h2>About</h2>
        </div>
        <div class="panel-body">
                {{ content }}

                <div class="row">
                        <div class="col-sm">
                                <h2>Learn</h2>
                        </div>
                        <div class="col-sm">
                                <h2>Stay Connected</h2>
                        </div>
                        <div class="col-sm">
                                <h2>Contact Me</h2>
                        </div>
                </div>

                <div class="row">
                        <div class="col-sm">
                             <a href="/blog.html" class="btn btn-primary">Posts</a>
                        </div>
                        <div class="col-sm">
                                <a href="https://www.linkedin.com/in/kunal-patil-89769715/" target="_blank" class="fab fa-linkedin"></a>
                                <a href="https://github.com/kunupat" target="_blank" class="fab fa-github-square"></a>
                                <a href="https://twitter.com/kunupat" target="_blank" class="fab fa-twitter-square"></a>
                        </div>
                        <div class="col-sm">
                                <h3><a href="mailto:kunal.m.patil@gmail.com">kunal.m.patil@gmail.com</a> </h3>
                        </div>
                </div>
        </div>
</div>