---
layout: "default"
---

<div class="page-header">
        <h2>{{ page.title }}</h2>
        <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
</div>

<div class="panel panel-default">
        <div class="panel-body bg-light">
                {{ content }}
        </div>
        <div class="panel-footer">
                <div id="disqus_thread"></div>
                <script>
                        var disqus_config = function () {
                                this.page.url = "{{ site.url }}{{ page.url }}";
                                this.page.identifier = "{{ page.title }}";
                        };

                        (function () { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://https-kunupat-github-io.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                        })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                                powered by Disqus.</a></noscript>
                <a href="/blog.html" class="btn btn-primary" role="button">Read Other Blogs</a>
        </div>
</div>